.tooltip-demo {
  height: var(--spacing-36);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--muted);
  border-radius: var(--rounded-lg);
}

.tooltip {
  position: absolute;
  background-color: var(--background);
  padding: 5px 10px;
  border-radius: var(--rounded-md);
  font-size: var(--font-sm);
  z-index: 1000;
}
